@mixin date ($width, $height, $day-size, $month-size) {
	position: relative;
	display: inline-block;
	overflow: hidden;
	cursor: default;

	width: $width;
	height: $height;

	// border: 2px solid black;
	// border-radius: 8px;

	.day {
		text-align: center;
		color: white;
		font-size: $day-size;
	}

	.month {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		padding-bottom: 2px;
		text-align: center;

		font-size: $month-size;
		background-color: rgba(255,255,255, 0.80)
	}
}

.DateDiv.large { @include date(70px, 75px, 2.8em, 1.1em); }
.DateDiv.small { @include date(50px, 55px, 1.8em, 0.90em); }
