#EventsContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(99999, 350px);
    overflow-x: scroll;

    padding: 20px 0;

    // border-radius: 8px;
    background-color: rgb(100,100,100);

    .EventCard { margin: auto; }
}